//out: ../css/, compress: true

@base-url: "http://localhost:3000";

.map {
    border: 5px solid #6D6D6D;

    &__row {
        height: 16px;
    }

    &__cell {
        display: inline-block;
        width  : 16px;
        height : 16px;
    }

    &__snake {
        background-color: green;

        &--red {
            background-color: red;
        }

        &--green {
            background-color: green;
        }

        &--blue {
            background-color: blue;
        }

        &--pink {
            background-color: pink;
        }

        &--black {
            background-color: black;
        }

        &--white {
            background-color: white;
        }

        &--gray {
            background-color: gray;
        }

        &--brown {
            background-color: brown;
        }

        &--left {}

        &--right {}

        &--top {}

        &--bottom {}

        &--left-bottom {
            border-bottom-right-radius: 10px;
        }

        &--left-top {
            border-top-right-radius: 10px;
        }

        &--right-bottom {
            border-bottom-left-radius: 10px;
        }

        &--right-top {
            border-top-left-radius: 10px;
        }

        &--bottom-left {
            border-top-left-radius: 10px;
        }

        &--bottom-right {
            border-top-right-radius: 10px;
        }

        &--top-left {
            border-bottom-left-radius: 10px;
        }

        &--top-right {
            border-bottom-right-radius: 10px;
        }
    }

    &__apple {
        // background-color: red;
        background-image   : url("@{base-url}/apple.svg");
    }

    &__wall {
        background-color: #6D6D6D;
    }
}